.section__title{
    font-size: 27px;
    font-weight: 500;
    color: rgb(106, 6, 236);
    position: relative;
    margin-bottom: 50px;
    text-align: center;
}

.section__title::after{
    content: " ";
    position: absolute;
    width: 5%;
    height: 4px;
    left: 50%;
    bottom: -5px;
    background-image: linear-gradient(to right, rgb(106, 6, 236), rgb(220, 0, 240));
    transform: translateX(-50%);
}


.containerPersonal {
    max-width: 1000px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  
.grid {
    display: grid;
    gap: 1.5rem;
  }

.contact__container {
    row-gap: 3rem;
  }
  
.contact__information {
    display: flex;
    margin-bottom: 2rem;
  }
  
  .contact__icon {
    font-size: 2rem;
    color: purple;
    margin-right: 0.75rem;
  }
  .contact__title {
    font-size: 1.125rem;
    font-weight: 500;
    color: purple;
  }
  .contact__subtitle {
    font-size: 0.813rem;
    color: hsl(250, 69%, 61%);
  }
  
  .contact__content {
    background-color: white;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem 0.25rem;
    border: 2px solid hsl(250, 69%, 61%);
    border-radius: 1rem;
  }
  
  .contact__label {
    font-size: 0.813rem;
    color: hsl(250, 69%, 61%);
  }
  
  .contact__input {
    width: 100%;
    font-size: 0.938rem;
    color: hsl(250, 69%, 61%);

    outline: none;
    padding: 0.25rem 0.5rem 0.5rem 0;
  }

  
.contact__button{

    align-items: center;

    color: hsl(250, 69%, 61%);
    font-size: -813rem;
}
.button{
  background-color: hsl(250, 69%, 61%);
  display: inline-block;
  color: white;
  padding: 1rem;
  border-radius: .5rem;
  cursor: pointer;
}

.contact__button i{
    font-size: 1rem;
    transition: transform .3s;
}

.contact__button:hover i{
    transform: translateX(.25rem);
}

.contact__form-error{
 color: red;
 text-align: center;
}
@media screen and (max-width: 350px) {
    .containerPersonal {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
  
  /*medio */
  
  @media screen and (min-width: 568px) {

  
    .contact__container {
      grid-template-columns: repeat(2, 1fr);
    }

  }
  
  /* largo*/
  @media screen and (min-width: 768px) {
    .containerPersonal {
      margin-left: auto;
      margin-right: auto;
    }
    body {
      margin: 0;
    }
  
    .section {
      padding: 1rem 0 2rem;
    }
  

}
  
@media screen and (min-width: 1024px) {
    .contant__form {
      width: 460px;
    }
    .contact__inputs {
      grid-template-columns: repeat(2, 1fr);
    }
  }