
  <section class="about">
    <div class="about-image">
      <img src="https://lucianapeisina.github.io/cvfoto.jpg" alt="Foto de Luciana">
    </div>
    <div class="about-text">
      <h3 id="title">ACERCA DE MI</h3>
      <p>Me llamo Luciana</p>
      <h2 class="text-uppercase">¡Soy <span id="changing-text"></span></h2>
      <p>Soy una estudiante de abogacía con un apasionado amor hacia la investigación y la programación. Me considero alguien organizada, responsable y muy curiosa y estoy dando mis primeros pasos en el mundo de la programación.</p>
      <h3>¡Conóceme!</h3>
      <div class="social-icons">
        <a href="#">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="#">
          <i class="fab fa-github"></i>
        </a>
      </div>
    </div>
  </section>
