<div id="Habilidades">
  <h3 id="Titulo-H"> Habilidades <a *ngIf="isLoggedIn" [routerLink]="'/add-habilidades'" class="add-button">+</a></h3>
  <div id="Total-Circle">
    <div id="HabiliDu">
      <h4> Duras </h4>
      <div class="Conjunto">
        <div class="tarjeta" *ngFor="let dura of habiDList">
          <div class="Interior" style="--num:{{dura.num}};">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
              <defs>
                <linearGradient id="GradientColor">
                  <stop offset="0" stop-color="#e91e63" />
                  <stop offset="100" stop-color="#673ab7" />
                </linearGradient>
              </defs>
              <circle cx="80" cy="80" r="65" pathLength="100" />
              <circle cx="80" cy="80" r="65" pathLength="100" />
            </svg>

            <span class="color1"> Nivel <br> {{dura.nivel}}</span>

            <br>
            <p>{{dura.nombre}}
              <a *ngIf="isLoggedIn && dura && dura.esDura" [routerLink]="'/actu-habilidades?id=' + dura.id + '&esDura=' + dura.esDura.toString()">
                <i class="fa-solid fa-pen-to-square" style="color: #6a06ec;"></i>
              </a>
            </p>

            <button *ngIf="isLoggedIn" (click)="eliminarHabilidad(dura.id, true)">
              <i class="fas fa-trash-alt" style="color: #6a06ec;"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div id="HabiliSua">
      <h4> Suaves </h4>
      <div class="Conjunto">
        <div class="tarjeta" *ngFor="let blanda of habiBList">
          <div class="Interior-soft" style="--num:100;">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
              <defs>
                <linearGradient id="GradientColor">
                  <stop offset="0" stop-color="#e91e63" />
                  <stop offset="100" stop-color="#673ab7" />
                </linearGradient>
              </defs>
              <circle cx="80" cy="80" r="65" pathLength="100" />
            </svg>
            <span class="SoftSkill">{{blanda.nombre}} <a *ngIf="isLoggedIn" [routerLink]="'/actu-habilidades?id=' + blanda.id + '&esDura=' + (blanda.esDura ? blanda.esDura.toString() : '')">     
              <i class="fa-solid fa-pen-to-square" style="color: #6a06ec;"></i>
            </a>
            </span>

            <button *ngIf="isLoggedIn" (click)="eliminarHabilidad(blanda.id, false)">
              <i class="fas fa-trash-alt" style="color: #6a06ec;"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
