/* Habilidades*/
#Habilidades{
  background-color: rgb(245, 245, 245);
}

#Total-Circle{
    display: flex;
}


#Total-Circle h4{
 font-size: 20px;
  font-family: poppins;
  color: rgb(106, 6, 236);
  text-align: center;
  margin-bottom: 2%;
  font-weight: bolder;
}




#Titulo-H{
  text-align: center;
  color: rgb(106, 6, 236);
  font-family: poppins;
  font-size: 27px;
  font-weight: 500;
  position: relative;
  margin-bottom: 80px;
  padding-top:  2%;
  font-weight: bolder;
}

#Titulo-H::after{
  content: " ";
  position: absolute;
  width: 5%;
  height: 5px;
  left: 50%;
  bottom: -5px;
  background-image: linear-gradient(to right, rgb(106, 6, 236), rgb(220, 0, 240));
  transform: translateX(-50%);
}
.Conjunto{
  width: 100%;
  display: flex;

  max-width: 700px;
  margin: auto;
  flex-wrap: wrap;
  align-items: center;
}


.tarjeta{
  color: rgb(106, 6, 236);
    position: relative;
    width: 200px;
    background-color: white;
    display: flex;
    justify-content:center;
    height: 220px;
    border-radius: 10px;

    text-align: center;
    transition: 0.5s;
    margin-left: 10px;
}
  
.tarjeta:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0,0,0,0.5);
}
  
.tarjeta::before{
    content: '';
    position: absolute;
    top: 0;

    width: 100%;
    height:100%;
    pointer-events: none;
    z-index: 1;
}
  
.Interior{
    
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;

}
  
.Interior svg{
  height: 150px;
  width: 150px;
  top: 18%;
  right: 5%;
  position: relative;
  
}

.Interior-soft svg {
    top: 15%;
    position: relative;

}
  
.tarjeta svg circle{
    fill: none;
    stroke-width: 8;
    transform: rotate(-90deg);
    transform-origin: 50%;
    
}
  
.tarjeta svg circle:nth-child(2){
    stroke-width: 10;
    stroke-linecap: round !important;  
    animation: rellenar .95s forwards;
    stroke-dasharray: 0 100;
    stroke: url(#GradientColor);
    
}
  

  
span {
    color: rgb(106, 6, 236);
    position: absolute;
    top: 15%;
    left: 25%;
    bottom: 0%;
    right: 0%;
    width:50%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    font-weight: bolder;
}

.Interior-soft span {
    top: 0%;
}


  /*Claculo para simular el porcent*/

  
@keyframes rellenar{
    to{
      stroke-dasharray: var(--num) 100;
    }  
} 
  

.Interior > p {
      font-family: sans-serif;
      color: rgb(106, 6, 236);
      font-size: 1rem;
      font-weight: bold;
      font-family: poppins;
}
  

@media only screen and (max-width:600px)
  {

#Total-Circle{
        display: inline-block; 
        height: auto;
          margin-left: 30px;
          flex-flow: row wrap;
      }
  }


  /* FIN HABILIDADES */