<div class="bg" style="background-color: #F8F8F8;">
    <div class="parent">
      <div class="child">
        <div class="imgDiv">
          <div class="row">
            <div class="col">
              <h1 style="margin-left: 80px;">Registro</h1>
            </div>
          </div>
          <form [formGroup]="validateForm" class="login-form">
            <div class="form-group">
              <input type="email" class="form-control" placeholder="E-mail" formControlName="email" />
              <div *ngIf="validateForm.get('email')?.dirty && validateForm.get('email')?.invalid" class="invalid-feedback">
                El correo electrónico no es válido.
              </div>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Contraseña" formControlName="password" />
              <div *ngIf="validateForm.get('password')?.dirty && validateForm.get('password')?.invalid" class="invalid-feedback">
                La contraseña es requerida y debe cumplir con los requisitos.
              </div>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Confirma Contraseña" formControlName="confirmPassword" />
              <div *ngIf="validateForm.get('confirmPassword')?.dirty && validateForm.get('confirmPassword')?.invalid" class="invalid-feedback">
                Confirma tu contraseña correctamente.
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Usuario" formControlName="name" />
              <div *ngIf="validateForm.get('name')?.dirty && validateForm.get('name')?.invalid" class="invalid-feedback">
                Coloca tu nombre de usuario.
              </div>
            </div>
            <button class="btn btn-primary login-form-button login-form-margin" (click)="register()">Registrarse</button>
            O <a routerLink="/iniciar-sesion">Iniciar Sesión</a>
          </form>
        </div>
      </div>
    </div>
  </div>
  