<div class="main" id="Experiencia">
  <h3 class="heading">Experiencias <a *ngIf="isLoggedIn" [routerLink]="'/add-experiencia'" class="add-button">+</a></h3> 
  <div class="container">
    <ul>
      <li *ngFor="let experiencia of experienciasList">
        <button *ngIf="isLoggedIn" [routerLink]="'/actu-experiencia'">
          <i class="fa-solid fa-pen-to-square" style="color: #6a06ec;"></i>
        </button>
        <button *ngIf="isLoggedIn" (click)="eliminarExperiencia(experiencia.id)">
          <i class="fa-solid fa-trash" style="color: #6a06ec;"></i>
        </button>

        <h3 class="nombre">{{ experiencia.nombre }}</h3>
        <span class="lugar">{{ experiencia.lugar }}</span>   
        <p>{{ experiencia.contenido }}</p>
        <a href="#">{{ experiencia.extra }}</a>
        <span class="circle {{ experiencia.clase }}"><i class="{{ experiencia.icono }}"></i></span>
        <span class="date">{{ experiencia.start }} - {{ experiencia.end }}</span>
      </li>
    </ul>
  </div>
</div>
