<header class="header">
  <h1 class="header__h1">
    <a *ngIf="!isLoggedIn" [routerLink]="'/iniciar-sesion'" mat-icon-button class="example-icon favorite-icon header__a" aria-label="Example icon-button with heart icon">Iniciar Sesión</a>
    <!--   <a *ngIf="!isLoggedIn" [routerLink]="'/signup'" mat-icon-button class="example-icon favorite-icon mr20 ml70" aria-label="Example icon-button with heart icon">Registrar</a>--> 
    <a *ngIf="isLoggedIn" (click)="logout()" style="margin-right: 50px" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">Cerrar sesión</a>
    <button *ngIf="isLoggedIn && user" mat-button style="margin-right: 10px" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" [routerLink]="'/home'">{{ user.username }}</button>
  </h1>

  <button (click)="setActive()" class="header__button">
    <svg class="header__svg" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
    </svg>
  </button>

  <nav class="header__nav" [ngClass]="{ 'header__nav--activo': active }">
    <ul class="header__ul">
      <li class="header__li" *ngFor="let item of itemsMenu">
        <a (click)="navigateToAnchor(item.ruta)" class="header__a">{{ item.nombre }}</a>
      </li>
    </ul>
  </nav>
</header>
