<section class="skills section" id="Herramientas">
    <h3 class="section__title">
      Herramientas <a *ngIf="isLoggedIn" [routerLink]="'/add-herramientas'" class="add-button">+</a>
    </h3>
    <span class="section__subtitle"></span>
    <div class="skills__container container grid section__border">
      <div class="skills__content">
        <h3 class="skills__title">
          <i class="ri-braces-line"></i> Desarrollador Frontend
        </h3>
        <div class="skills__info">
          <div class="skills__data" *ngFor="let skills of skillsList">
            <div class="skills__blob">
              <img src="{{skills.logo}}" alt="skills image">
            </div>
            <h3 class="skills__name"> {{skills.nombre}} 
              <button *ngIf="isLoggedIn" [routerLink]="'/actu-herramientas'" [queryParams]="{ id: skills.id, esSkills: true }">
                <i class="fa-solid fa-pen-to-square" style="color: #6a06ec;"></i>
              </button>
            </h3>
            <span class="skills__subtitle"> {{skills.nivel}} </span>
  
            <button *ngIf="isLoggedIn" (click)="borrarSkill(skills.id)">
              <i class="fas fa-trash-alt" style="color: #6a06ec;"></i>
            </button>
          </div>
        </div>
      </div>
  
      <br>
  
      <div class="skills__content">
        <h3 class="skills__title">
          <i class="ri-braces-line"></i> Desarrollador Backend
        </h3>
        <div class="skills__info">
          <div class="skills__data" *ngFor="let desarrollo of desarrolloList">
            <div class="skills__blob">
              <img src="{{desarrollo.logo}}" alt="skills image">
            </div>
            <h3 class="skills__name"> {{desarrollo.nombre}}
              <button *ngIf="isLoggedIn" [routerLink]="'/actu-herramientas'" [queryParams]="{ id: desarrollo.id, esSkills: false }">
                <i class="fa-solid fa-pen-to-square" style="color: #6a06ec;"></i>
              </button>
            </h3>
            <span class="skills__subtitle"> {{desarrollo.nivel}} </span>
  
            <button *ngIf="isLoggedIn" (click)="borrarDesarrollo(desarrollo.id)">
              <i class="fas fa-trash-alt" style="color: #6a06ec;"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  