<section class="contact section" id="Contacto">
  <h2 class="section__title">Contacto</h2>
  <div class="contact__container containerPersonal grid">
      <div>
          <div class="contact__information">
              <i class="fas fa-phone contact__icon"></i>
              <div>
                  <h3 class="contact__title">Whatsapp</h3>
                  <span class="contact__subtitle">+54 9 1138265882</span>
                  <a href="https://api.whatsapp.com/send?phone=5491138265882&text=Hola, quisiera mas información" target="_blank" class="contact__button">
                    Escribame <i class="fas fa-arrow-right button__icon"></i>
                  </a> 
              </div>

          </div>

          <div class="contact__information">
              <i class="fas fa-envelope contact__icon"></i>
              <div>
                  <h3 class="contact__title">Correo</h3>
                  <span class="contact__subtitle">lucianapeisina@hotmail.com</span>
              </div>

          </div>

          <div class="contact__information">
              <i class="fa-brands fa-facebook-messenger contact__icon"></i>
              <div>
                  <h3 class="contact__title">Messenger</h3>
                  <span class="contact__subtitle">@Lucy Peisina</span>
                  <a href="https://m.me/lucypeisina" target="_blank" class="contact__button">
                    Escribame  <i class="fas fa-arrow-right button__icon"></i>
                  </a>
              </div>

          </div>
      </div>
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()" action="https://formspree.io/f/mqkjyalv" method="POST" class="contact__form grid">
          <div class="contact__inputs grid">
              <div class="contact__content">
                  <label for="contact-name" class="contact__label">Nombre</label> 
                  <input type="text" id="contact-name" name="name" formControlName="name" class="contact__input" placeholder="Escriba su nombre">
                  <div *ngIf="myForm.get('name')?.invalid && (myForm.get('name')?.dirty || myForm.get('name')?.touched)">
                    <div *ngIf="myForm.get('name')?.errors?.['required']" class="contact__form-error">Nombre es requerido.</div>
                  </div>
              </div>
              <div class="contact__content">
                  <label for="contact-email" class="contact__label">Correo</label>
                  <input type="email" id="contact-email" name="email" formControlName="email"  class="contact__input" placeholder="Escriba su email">
                  <div *ngIf="myForm.get('email')?.invalid && (myForm.get('email')?.dirty || myForm.get('email')?.touched)">
                    <div *ngIf="myForm.get('email')?.errors?.['required']" class="contact__form-error">Email es requerido.</div>
                    <div *ngIf="myForm.get('email')?.errors?.['email']" class="contact__form-error">Email es inválido.</div>
                  </div>            
              </div>
          </div>
              <div class="contact__content">
                  <label for="contact-consulta" class="contact__label">Mensaje</label>
                  <textarea id="contact-consulta" name="message" formControlName="message"  placeholder="Escribe tu consulta" cols="0" rows="5" class="contact__input"></textarea>
                  <div *ngIf="myForm.get('message')?.invalid && (myForm.get('message')?.dirty || myForm.get('message')?.touched)">
                    <div *ngIf="myForm.get('message')?.errors?.['required']" class="contact__form-error">Consulta es requerida.</div>
                  </div>
              </div>
          <div>
            <button type="submit" class="button button--flex contact__button" [disabled]="myForm.invalid">Enviar  <i class="fas fa-arrow-right button__icon"></i></button>
          </div>
      </form>

  </div>
</section>